.mainHeader {
  padding-left: 110px;
  position: sticky;
  top: 0;
  z-index: 100;
  margin: 0px;
  background : linear-gradient(117.5deg, rgb(89, 233, 162) 20.5%, rgb(29, 209, 185) 100.2%) ;
  box-shadow: -2px 2px 33px -16px grey;
}

.headerLogo {
    width: 30px;
}

.pageContentWrapper {
    padding: 0 20px;
  }

.mainBodyWrapper {
    width: 100%;
}

.dropdownMenu {
  display: flex;
  .toggleButton:focus {
    box-shadow: none !important;
  }
  .toggleButton {
    margin-left: 30px;
    background-color: transparent !important;
  }
  .toggleButton::after {
    display: none !important;
  }
  .menuItems {
    font-size: 14px;
    z-index: 989;
    img {
      width: 20px;
      height: 20px;
    }
  }
  a:active {
    background: transparent;
  }
  span {
    color: black;
  }
}

.sidebar{
  // background: linear-gradient(109.6deg, rgb(9, 154, 151) 11.2%, rgb(21, 205, 168) 91.1%); 
 // background-color: #A7FFEB
 background-color: white; 
} 