.mainBox {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logoContainer {
  position: relative;
  left: 2vw;
}

.logoTsc {
  width: 75px;
  object-fit: contain;
}

.logo {
  // width: 270px;
  width: 365px;
  object-fit: contain;
}

.hoverInfo {
  cursor: pointer;
}

.popIcon {
  font-size: 12px;
  padding: 5px 20px 5px 20px;
}

// .backgroundFirsthalf{
//   background-image: linear-gradient(to right, black 0%, #2d994a 28%);
//   padding:0px !important;
//   margin-left: 0px !important;
//   margin-right: 0px !important;
// }

.backgroundSecondHalf {
  // background-image: linear-gradient(to left, black, #2d994a 28%);
  padding: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

// .divide{
//   border-radius: 83px 0 0 83px;
//   background: linear-gradient(to left, #d4e3c4 13.4%, #dfe8e0 86.6%);
//   // background-color: #1AEBB6;
//   height: 525px;
//   position: relative;
//   padding:0px;
//   top: 8%;
//   box-shadow: -1rem 0rem 3rem rgba(0,0,0,0.35)!important;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

.poweredLogo {
  width: 90px;
  // height: 300px;
  object-fit: contain;
}

.poweredBy {
  // border: 2px solid;
  width: 46%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 0;
  font-size: 10px;
}
.logoImage {
  width: 50%;
}

.powerdByLogo {
  margin-top: 26%;
  display: flex;
}

.formStyle {
  border-radius: 0 83px 83px 0;
  /* background: linear-gradient(to right, #C4E0A6 13.4%, #96E6A1 86.6%); */
  // background: linear-gradient(to right, #d4e3c4 13.4%, #96e6a1 86.6%);
  height: 525px;
  // position: relative;
  // top: 8%;
  // box-shadow: 1rem .5rem 0rem rgba(0,0,0,0.35)!important;
  box-shadow: 1rem 0.5rem 1.5rem -1rem rgb(0 0 0 / 35%);
}

.LoginBtn {
  border: none !important;
  border-radius: 23px;
  color: white;
  font-weight: 500;
  background-image: linear-gradient(to left, black, #2d994a);
  // background-color: #1AEBB6 !important;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  &:hover {
    color: white !important;
    font-weight: bolder;
  }
}

.tagline {
  font-size: 17px;
  position: relative;
  // left: 22%;
  // top: 36vh;
  font-family: "Roboto", sans-serif;
}

.poweredByLogo {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.mainLogo {
  display: flex;
  justify-content: flex-end;
}

.Authform {
  position: relative;
  // top: 85px;
}
.AuthformOTP {
  position: relative;
  top: 100px;
}
.AuthformReset {
  // position: relative;
  // top: 150px;
}
.loginBtn {
  color: #1aebb6;
}

.forgetLinks {
  text-decoration: none;
}
.AuthFormContent {
  padding-left: 18%;
  // padding-right: 18%;
}

.Authformtitle {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  /* font-weight: 800; */
  // font-family: 'Roboto', sans-serif;
  font-family: "Alice", Helvetica, sans-serif;
}

$c-border: #1aebb6;
$c-background: #e3e4db;
$c-text: #441151;

.sparkle {
  max-width: 10em;
  color: $c-text;
  margin: auto auto;
  &:hover {
    cursor: pointer;
  }
}

.uhoversparkle {
  margin-top: 20px;
  font-weight: bold;
  font-size: 30px;
  box-sizing: border-box;
  position: relative;
  padding: 0.75em;
  &::before,
  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    // transform-origin: center;
  }

  &::before {
    border-top: 0.2em solid $c-border;
    border-bottom: 0.2em solid $c-border;
    transform: scale3d(0, 1, 1);
  }

  &::after {
    border-left: 0.2em solid $c-border;
    border-right: 0.2em solid $c-border;
    transform: scale3d(1, 0, 1);
  }

  &:hover::before,
  &:hover::after {
    transform: scale3d(1, 1, 1);
    transition: transform 900ms;
  }
}
.outerbox {
  height: inherit;
  min-height: 100vh;
  padding: 0 !important;
  margin: 0 !important;
  overflow-x: hidden !important;
  z-index: -1;
  background-image: linear-gradient(
    90deg,
    black 2%,
    #2d994a 28%,
    #2d994a 80%,
    black 100%
  );
  // max-height: 615px;
}

.backgroundFirsthalf {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginCard {
  // width:66%;
  background: linear-gradient(to right, #d4e3c4 13.4%, #96e6a1 86.6%);
  box-shadow: 1rem 0.5rem 1.5rem -1rem rgb(0 0 0 / 35%);
  // height: 525px;
  border-radius: 83px;
  padding: 0 70px;
  min-height: 66%;
}

.divide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 2px solid;
  // he ight: 65vh;
  // width: 32vw;
}
.imgContainer {
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}
.loginImg {
  width: 203.5px;
}
