.sidebarMenuAppend {
  background-color: #3c5f4b;
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  flex-direction: column;
  width: 108px;
  height: auto;
  top: 0;
  z-index: 100;
  bottom: 0;
  padding-top: 76px;
  // border-bottom-left-radius: 70px;
  // border-bottom-right-radius: 70px;
  color: white !important;
  transition: height .5s;
  overflow: hidden;
}

.sidebarMenuCollape {
    background-color: #3c5f4b;
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 108px;
    top: 0;
    z-index: 100;
    bottom: 0;
    padding-top: 76px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    color: white !important;
    height: 20px;
    overflow: hidden;
    transition: 0.5s;
}

.sidebarItems {
  .hover {
    background-color: darkcyan;
  }
}

.menuItemsImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 108px;
}

.bigLogo {
  width: 209px;
  padding: 17px 0 2px 25px;
}

.smallLogo {
  width: 59px;
  padding: 13px 0 0 12px;
}

.myProfile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profileImg {
  width: 160px;
}

.userName {
  display: flex;
  justify-content: center;
  font-size: 16px;
  text-align: center;
}

.menuItem {
  margin-top: 15px;
  a {
    font-size: 16px;
    flex-grow: 1;
    padding: 4px;
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
  }
}

.menuItemActive {
    background-color: white;
    display: flex;
    a {
        color: #000000;
        font-weight: 500;
    }
    a:hover {
        color: #000000;
    }
}

.upperArrowKey {
  position: fixed;
  bottom: 0;
  left: 20px;
  border-radius: 50%;
  height: 44px;
  width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.downArrowKey {
  position: fixed;
  top: 24px;
  left: 20px;
  border-radius: 50%;
  height: 44px;
  width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upperImg, .downImg {
    width: 20px;
    cursor: pointer;
}
