@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.sidebarItems {
  .hover {
    background-color: darkcyan;
  }
}

.bigLogo {
  width: 209px;
  padding: 17px 0 2px 25px;
}

.smallLogo {
  width: 59px;
  padding: 13px 0 0 12px;
}

.myProfile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profileImg {
  width: 160px;
}

.userName {
  display: flex;
  justify-content: center;
  font-size: 16px;
  text-align: center;
}


/* ===== Colors ===== */
$body-color: #e4e9f7;
$sidebar-color: #fff;
$primary-color: linear-gradient(
  117.5deg,
  rgb(89, 233, 162) 20.5%,
  rgb(29, 209, 185) 100.2%
);
$primary-color-light: #f6f5ff;
$toggle-color: #ddd;
$text-color: #0e0b0b;

/* ====== Transition ====== */
$tran-03: all 0.2s ease;
$tran-03: all 0.3s ease;
$tran-04: all 0.3s ease;
$tran-05: all 0.5s ease;

/* ===== Sidebar ===== */
.sidebar {
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 210px;
  width: inherit;
  padding: 2px;
  transition: $tran-05;
  z-index: 100;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  ::-webkit-scrollbar {
    display: none;
  }
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex !important;
  flex-direction: column;
  justify-content: space-between !important;
  
}
.sidebarInnerItems {
  height: 375px;
  // height: 65vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: 2px solid #b3b8bc;
}

.head {
  display: flex;
  align-items: center;
}

.menuItem {
  
  a {
    font-size: 13px;
    font-weight: 500;
    flex-grow: 1;
    text-decoration: none;
    color: $text-color;
    border-radius: 15px;
  
  }
  a:hover {
    color: #1d0505;
    text-decoration: none;
    font-weight: 600;
    border-radius: 15px;

  }
}
.menuList {
  display: flex;
  justify-items: center;
  align-items: center;
}
// .menuItemsImg {
//   display: flex;
//   justify-content: center;
//   text-align: center;
//   align-items: center;
// }

.menuItemActive {
  background: $primary-color;
  border-radius: 15px;
  display: flex;
  
  a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    transition: $tran-03;
    border-radius: 15px;
    font-weight: 700;
  }
  a:hover {
    color: #000000;
    font-size: 13px;
    border-radius: 15px;
  }
}

.sidebar::-webkit-scrollbar {
  display: none;
}

#header{
  position: relative;
}

.toggle{
  position: absolute;
  top: 35px;
  // left: 96% ;
  right: -17px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: #695CFE;
  color: $sidebar-color;
  border-radius: 50%;
  cursor: pointer;
  transition: $tran-05;
}

.toggleLeft{
  transform: translateY(-50%) rotate(180deg);
}
.toggleRigth{
  transform: translateY(-50%) rotate(0deg); 
}

.sidebarOuterItems {
  overflow-y: auto;
}

.menuOtherItem {
  padding:  0.5rem !important;
  .other {
    font-size: 13px;
    font-weight: 500;
    flex-grow: 1;
    text-decoration: none;
    color: $text-color;
    border-radius: 15px;
  }
  .other:hover {
    color: #1d0505;
    text-decoration: none;
    font-weight: 600;
    border-radius: 15px;
  }
}

.menuOtherItemActive {
  background: $primary-color;
  border-radius: 15px;
  .other{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    transition: $tran-03;
    border-radius: 15px;
  }
  .other:hover {
    color: #000000;
    font-size: 13px;
    border-radius: 15px;
  }
}