@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.sidebarMenuAppend {
  font-family: "Poppins", sans-serif;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  flex-direction: column;
  z-index: 100;
  color: white !important;
  transition: all 0.3s ease;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
}

.sidebarMenuCollape {
  background-color: #3c5f4b;
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 108px;
  top: 0;
  z-index: 100;
  bottom: 0;
  padding-top: 76px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  color: white !important;
  height: 20px;
  overflow: hidden;
  transition: 0.5s;
}

.sidebarItems {
  .hover {
    background-color: darkcyan;
  }
}

.bigLogo {
  width: 209px;
  padding: 17px 0 2px 25px;
}

.smallLogo {
  width: 59px;
  padding: 13px 0 0 12px;
}

.myProfile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profileImg {
  width: 160px;
}

.userName {
  display: flex;
  justify-content: center;
  font-size: 16px;
  text-align: center;
}

.upperArrowKey {
  position: fixed;
  bottom: 0;
  left: 20px;
  border-radius: 50%;
  height: 44px;
  width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.downArrowKey {
  position: fixed;
  top: 24px;
  left: 20px;
  border-radius: 50%;
  height: 44px;
  width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upperImg,
.downImg {
  width: 20px;
  cursor: pointer;
}

/* ===== Colors ===== */
$body-color: #e4e9f7;
$sidebar-color: #fff;
$primary-color: linear-gradient(
  117.5deg,
  rgb(89, 233, 162) 20.5%,
  rgb(29, 209, 185) 100.2%
);
$primary-color-light: #f6f5ff;
$toggle-color: #ddd;
$text-color: #0e0b0b;

/* ====== Transition ====== */
$tran-03: all 0.2s ease;
$tran-03: all 0.3s ease;
$tran-04: all 0.3s ease;
$tran-05: all 0.3s ease;

// dark mode color
// $body-color: #18191a;
// $sidebar-color: #242526;
// $primary-color: #3a3b3c;
// $primary-color-light: #3a3b3c;
// $toggle-color: #fff;
// $text-color: #ccc;

/* ===== Sidebar ===== */
.sidebar {
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 210px;
  width: inherit;
  // padding: 10px 14px;
  padding: 2px;
  transition: $tran-05;
  z-index: 100;

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  ::-webkit-scrollbar {
    display: none;
  }
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.sidebar.close {
  width: 88px;
}
.sidebarInnerItems {
  height: 65vh;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: 2px solid #b3b8bc;
}

.head {
  display: flex;
  align-items: center;
}

.menuItem {
  a {
    font-size: 13px;
    font-weight: 500;
    flex-grow: 1;
    text-decoration: none;
    color: $text-color;
    border-radius: 15px;
  
  }
  a:hover {
    color: #1d0505;
    text-decoration: none;
    font-weight: 600;
    border-radius: 15px;
  }
}
.menuList {
  display: flex;
  justify-items: center;
  align-items: center;
}
// .menuItemsImg {
//   display: flex;
//   justify-content: center;
//   text-align: center;
//   align-items: center;
// }

.menuItemActive {
  background: $primary-color;
  border-radius: 15px;
  display: flex;
  a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    transition: $tran-03;
    border-radius: 15px;
  }
  a:hover {
    color: #000000;
    font-size: 13px;
    border-radius: 15px;
  }
}

.menuBar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menuBar::-webkit-scrollbar {
  display: none;
}
