.createTicket{
  padding: 15px;
}

.addTicket{
    width: auto;
    // background-color:#33a351;
    background: linear-gradient(110.1deg, rgb(34 126 34) 2.9%, rgb(168 251 60) 90.3%);
    color: white;
    cursor: pointer;
    &:hover {
      // background-color: #3c5f4b !important;
      color: white !important;
    }
}

.ContainerDiv{
    box-shadow: -2px 7px 38px -15px grey;
    // border-radius: 15px 15px 15px 15px;
    padding: 25px;
}

.OuterTicketDiv{
  margin-top: 25px;
}

.saveButton{
  margin-left: 13px;
  border:none;
}

.hr{
  z-index: -1;
}

.hoverInfo {
  cursor: pointer;
}

.ticketHeadings{
  width: 163px;
}

.ticketRows{
  border-bottom: solid rgb(197, 197, 197) 1px;
  height: 40px;
}


.saveButton{
  background: linear-gradient(110.1deg, rgb(34 126 34) 2.9%, rgb(168 251 60) 90.3%);
    color: white;
}

.searchIcon {
  background: linear-gradient(110.1deg, rgb(34 126 34) 2.9%, rgb(168 251 60) 90.3%);
  border: none;
  cursor: pointer;
}

.tableResponsive{
  border-radius: 20px;
  background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
}
.table{
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border: 1px solid rgba( 255, 255, 255, 0.18 );  
}
.tableHead{
  background: linear-gradient(110.1deg, rgb(34 126 34 / 16%) 2.9%, rgb(168 251 60 / 69%) 90.3%);
}
.cardContainer{
   background: radial-gradient(circle at 10% 20%, rgba(216, 241, 230, 0.46) 0.1%, rgba(233, 226, 226, 0.28) 90.1%);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 16px );
-webkit-backdrop-filter: blur( 16px );
border-radius: 10px;
border: 2px solid rgba( 255, 255, 255, 0.18 );
}

.tableHeadRow{
  background: linear-gradient(110.1deg, rgb(34 126 34 / 16%) 2.9%, rgb(168 251 60 / 69%) 90.3%);
  color: black;
}

.discriptionData {
  p {
    padding: 0;
    margin: 0;
  }
}

.totalHours,
.totalMin {
  display: flex;
  align-items: center;
}

.hoursInput,
.minInput {
  margin-right: 10px;
}